.switch
{
  position: relative;
  display: inline-block;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  width: 90px;
  height: 34px;
}
  
.switch-text
{
  margin-bottom: 0px;
  display: inline-block;
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
      border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

.slider:after
{
  content:'OFF';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
content:'ON';
}

html 
{
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.connection-management
{
  margin: 10px;
}

.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.bar
{
  width: 100%;
  background: rgb(190, 190, 190);
  box-shadow: grey 0 10px 20px -10px;
  border-radius: 10px;
  align-items: center;
  min-height: 35px;
  display: flex;
  justify-content: center;
}

.title-bar
{
  text-align:center;
}

.row
{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.col-1
{
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
  padding: 10px;
  background-color: rgb(206, 201, 201);
  border-radius: 10px;
  box-shadow: grey  0 10px 20px -10px;
}

.col-2
{
  flex-basis: 40%;
  position: relative;
  display: flex;
  align-items: center;
}

.temp-chart
{
  box-shadow: #5E5DF0 0 10px 20px -10px;
}